<!DOCTYPE html>
<html lang="es">


<%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>

      <!--Productos Tabla -->

      <main class="container mt-5">
        <div class="row">

          <% products.forEach(function(product){ %>
            <div class="cart-item col-3">
              <img width="200px" height="200px" alt="imagen de producto" src=<%=`${product.photo}` %> >
              <div>
                <a href="/products/detail/<%= `${product.id}/` %>">
                  <p>
                    <%= product.name %>
                  </p>
                </a>
                <p>
                  <%= product.price %>
                </p>
              </div>
              <button class="btn btn-outline-primary button-item">
                Comprar
              </button>

            </div>
            <% }) %>

        </div>
      </main>

      <%- include('partials/footer') %>

  </body>

</html>